<md-content class="md-padding">
    <md-tabs md-dynamic-height="" md-border-bottom="" md-selected="selectedIndex">
        <md-tab label="Personal Info"  md-dynamic-height md-border-bottom>
            <md-content class="md-padding">
                <div class="left-margin col-lg-4 col-md-3 col-sm-1"></div>
                <div class="container col-lg-4 col-md-6 col-sm-10"
                     ng-include="'../views/editUser/updateInfo/updateInfo.html'"
                     ng-controller="UpdateInfoController">
                </div>
                <div class="right-margin col-lg-4 col-md-3 col-sm-1"></div>
            </md-content>
        </md-tab>
        <md-tab label="My Rating"  md-dynamic-height md-border-bottom>
            <md-content class="md-padding">
                <div class="left-margin col-lg-4 col-md-3 col-sm-1"></div>
                <div class="container col-lg-4 col-md-6 col-sm-10"
                     ng-include="'../views/editUser/rating/rating.html'"
                     ng-controller="ratingController">
                </div>
                <div class="left-margin col-lg-4 col-md-3 col-sm-1"></div>
            </md-content>
        </md-tab>
        <md-tab label="Drives"  md-dynamic-height md-border-bottom>
            <md-content class="md-padding" style="height: 100%;;">
                <div class="left-margin col-lg-12 col-md-3 col-sm-1"></div>
                <div class="container col-lg-12 col-md-6 col-sm-10"
                    ng-include="'../views/myDrives.html'"
                    ng-controller="MyDrivesController">
                </div>
                <div class="left-margin col-lg-4 col-md-3 col-sm-1"></div>
            </md-content>
        </md-tab>
        <md-tab label="Updates"  md-dynamic-height md-border-bottom>
            <md-content class="md-padding">
                <div class="left-margin col-lg-4 col-md-3 col-sm-1"></div>
                <div class="container col-lg-4 col-md-6 col-sm-10">
                    <h1>this will be a tab with all sort of updates and stuff</h1>
                </div>
                <div class="left-margin col-lg-4 col-md-3 col-sm-1"></div>
            </md-content>
        </md-tab>
    </md-tabs>
</md-content>









