<div class="text-center" ng-show="!isEmpty(travellerDrives)">
    <h1>My Drives as a hitchhiker</h1>
    <section class="top-margin" layout="column" layout-sm="column" layout-align="center center">
        <div ng-repeat="(key,value) in travellerDrives" class="well col-lg-6 col-md-6 myDriveItem" >
            <div layout="row" layout-align="center left" class="title" ng-click="value.showInfo=!value.showInfo;getDriverInfo(value.driver_id,value)">
                <span class="side-margin"><b>{{key}}</b> : </span>
                <span class="side-margin"><b>{{value.date}}</b> : </span>
                <span class="side-margin">from <u>{{value.source}}</u> To <u>{{value.dest}}</u></span>
                <span class="side-margin">Status : <b ng-class="value.status=='denied'?'text-red':(value.status=='approved'?'text-green':'text-blue')">{{value.status}}</b></span>
            </div>
            <div layout="row" layout-align="center left" ng-show="value.showInfo" class="well top-margin  body col-lg-6 col-md-12">
                <ul style="text-align: left">
                    <li>
                        <span class="">time : <b>{{value.time}}</b></span>
                    </li>
                    <li>
                        <span class="">price :  <b>{{value.price}}</b> </span>
                    </li>
                    <li>
                        <span class=""> driver : {{value.driver.l_name}}&nbsp{{value.driver.f_name}}</span>
                    </li>
                    <li>
                        <span class=""> # of passengers  : {{value.passengers.length}}</span>
                    </li>
                </ul>
            </div>
            <div class="col-lg-6 col-md-12" ng-show="value.showInfo">
            </div>
        </div>
    </section>
</div>

<div class="text-center" ng-show="!isEmpty(driverDrives)">
    <h1>My Drives as a Driver</h1>
    <section class="top-margin" layout="column" layout-sm="column" layout-align="center center">
        <div ng-repeat="(key,value) in driverDrives" class="well col-lg-6 col-md-6 myDriveItem">
            <div layout="row" layout-align="center left" class="title" ng-click="value.showInfo=!value.showInfo;getPassengers(value.passengers)">
                <span class="side-margin"><b>{{key}}</b> : </span>
                <span class="side-margin"><b>{{value.date}}</b> : </span>
                <span class="side-margin">from <u>{{value.source}}</u> To <u>{{value.dest}}</u></span>
                <span class="side-margin"><b> # of passengers : {{value.passengers.length}}</b></span>
            </div>
            <div layout="row" layout-align="center left" ng-show="value.showInfo" class="well top-margin body col-lg-6 col-md-12">
                <ul style="text-align: left">
                    <li>
                        <span class="">time : <b>{{value.time}}</b></span>
                    </li>
                    <li>
                        <span class="">profit :  <b>{{value.price * value.passengers.length}}</b> </span>
                    </li>
                    <li>
                        <span class="">passengers  :</span>
                        <ul>
                            <li ng-repeat="passenger in value.passengers">
                                <ul>
                                    <li>
                                        {{passenger.info.f_name}} {{passenger.info.l_name}}
                                    </li>
                                    <li>
                                        {{passenger.info.uni_mail}}
                                    </li>
                                    <li>
                                        {{passenger.info.phone}}
                                    </li>
                                    <li>
                                        status : <b ng-class="passenger.status =='denied'?'text-red':(passenger.status=='approved'?'text-green':'text-blue')">{{passenger.status}}</b>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="col-lg-6 col-md-12" ng-show="value.showInfo">

                //TODO : FINish THis!!
                <ui-gmap-google-map direction-service center="map.center" zoom="map.zoom" id="googleMap">
                    <ui-gmap-marker coords="map.markers.from.coordinates" idkey="1"
                                    ng-if="value.map.markers.from"></ui-gmap-marker>
                    <ui-gmap-marker coords="map.markers.to.coordinates" idkey="2"
                                    ng-if="value.map.markers.to"></ui-gmap-marker>
                </ui-gmap-google-map>
            </div>
        </div>
    </section>
</div>


