<div class="text-center">
    <h1>Joy'N'Ride</h1>

    <div class="col-lg-12">
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 "></div>
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 well text-left">
            <h3>Tutorial for beginners</h3>

            <p>
            <ul>
                <li><b>STEP 1:</b> sign up and verify your 'username' through the School's email (@mail.tau.ac.il)</li>
                <li><b>STEP 2:</b> go to the home page and start publishing/searching for travels</li>
                <li><b>STEP 3:</b> approve and disapprove requests coming from potential passengers</li>
            </ul>
            </p>
            <p>
<br/><br/>
            <h3>support questions</h3>
            <ul>
                <li>
                    <b>q:</b> how does joyNride work?<br/>
                    <b>a:</b> visit our 'about' page
                </li>
                <hr>
                <li>
                    <b>q:</b> what if my details have changed?<br/>
                    <b>a:</b> go to the 'personal info' tab
                </li>
                <hr>
                <li>
                    <b>q:</b> what if I have a problem or a special question (e.g I lost my password :\ )?<br/>
                    <b>a:</b> contact us via the 'contact' page :) !
                </li>
            </ul>


            </p>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 "></div>
    </div>
</div>
