<!--<div class="col-lg-12" ng-show="notifications[key][0]" ng-repeat="key in notifications">-->

<div class="col-lg-2"></div>
<div class="col-lg-8" ng-show="notifications[key][0]" ng-repeat="(key,value) in notifications">
    <h1>{{messages[key]}}</h1>

    <div ng-repeat="ride in notifications[key]" class="well col-lg-12 col-md-12 myDriveItem">
        <div layout="row" layout-align="center left" class="title"
             ng-click="ride.showInfo=!ride.showInfo;getDriverInfo(ride.driver_id,ride)">
            <span class="side-margin"><b>{{ride.id}}</b> : </span>
            <span class="side-margin"><b>{{ride.date}}</b> : </span>
            <span class="side-margin">from <u>{{ride.source}}</u> To <u>{{ride.dest}}</u></span>
        </div>
        <div layout="row" layout-align="center left" ng-show="ride.showInfo"
             class="well top-margin  body col-lg-6 col-md-12">
            <ul style="text-align: left;">
                <li>
                    <span class="">time : <b>{{ride.time}}</b></span>
                </li>
                <li>
                    <span class="">price :  <b>{{ride.price}}</b> </span>
                </li>
                <li>
                    <span class=""> driver : {{ride.driver.l_name}}&nbsp{{ride.driver.f_name}}</span>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="col-lg-2"></div>
