* {
    font-size: 100%;
}


.bigicon {
    font-size: 35px;
    color: #36A0FF;
}
#logo{
    height: 100%;
}

.md-button{
    padding:2em;
}
.top-margin{
    margin-top:2em;
}
.side-margin{
    margin-left: 10px;
    margin-right: 10px;
}
.bottom-margin{
    margin-bottom: 20px;
}
.text-red{
    color:red;
}
.text-green{
    color:forestgreen;
}
.text-blue{
    color:dodgerblue;
}
.angular-google-map-container,#googleMap{
    height: 400px;
    display: block;
}

.table,.table tr th{
    text-align: center;
}

.typeSelect{
    padding:10px;
    border-radius: 20px;
    border:2px grey solid;
    margin-top:10px;
    margin-bottom: 10px;
    background-color: rgba(125, 171, 178, 0.93) ;;
}
.opacity-hover{
    border-radius: 10px;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}
.opacity-hover:hover{
    opacity: 0.9;
    -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
}
.ratingContainer{
    height: 35px;
}
.ratingContainer .glyphicon{
    height: 24px;
    width: 25px;
}

.glyphicon-star{
    color:transparent;
    background-image: url('../img/star_full.png');
}
.glyphicon-star-empty{
    color:transparent;
    background: url('../img/star_empty.png') ;
}
.star_half{
    color:transparent;
    background-image: url('../img/star_half.png');
}
.well.myDriveItem{
    padding-top:0; padding-bottom: 0;
}
.well.myDriveItem div.title{
    padding-top:10px;
    padding-bottom: 10px;
}

.well.myDriveItem div.body{
    border: none;
    margin-top:0;
    padding-top:10px;

}

.spinner{
    /*display: block;*/
    /*position: fixed;*/
    /*top:50%;*/
    /*left: 50%;*/
}

.profile-pic{
    text-align: center;
    max-width:200px;
    max-height: 200px;
    border:2px solid #dcdcdc;
    border-radius: 100px;
}

.main{
    width: 100%;
    height: 2000px;
    background: yellow;
    display: block;
}